{% extends 'base.html' %}

{% block titulo %}
{{ object.titulo }} - Hashflix
{% endblock %}

{% block head %}
<style>
@media screen and  (max-width: 400px){
        .filme {
            width: 100%!important;
        }
    }
</style>
{% endblock %}

{% block content %}
<main class="min-h-screen w-full">
    <section
        class="h-screen relative bg-fixed pb-8 pl-6 flex items-end bg-cover bg-center bg-black bg-opacity-50 bg-blend-overlay"
        style="background-image: url('{{ object.thumb.url }}');">
        <div>
            <h2 class="text-4xl sm:text-6xl font-semibold text-white my-4">
                {{ object.titulo }}
            </h2>
            <p class=" w-11/12 md:w-5/12 font-medium text-white my-4">
                {{ object.descricao|slice:":150" }}...
            </p>
            <div class="flex my-4">
                <a href="{{ object.episodios.first.video }}">
                    <button class="flex items-center bg-white py-2 px-5 rounded-md" style="color:black;">
                        <ion-icon name="play" class="text-2xl"></ion-icon>
                        <span class="ml-3 font-medium">
                            Play
                        </span>
                    </button>
                </a>
            </div>
        </div>
    </section>
    <section class="bg-primary_black flex justify-center py-10">
        <div class="p-8 w-10/12 relative">
            <h2 class="text-gray-200 text-3xl font-medium">
                Descrição
            </h2>
            <div class="flex justify-left items-center min-w-full">
                <p class="text-gray-100 text-lg">
                    {{ object.descricao }}
                    <br>
                    Visualizações: {{ object.visualizacoes }}
                </p>
            </div>
            <div style='margin-top:2rem;margin-bottom:2rem;'>
                <h2 class="text-gray-200 text-3xl font-medium">
                    Episódios
                </h2>
                {% if not object.episodios.all %}
                <h3 class="text-lg">
                    Em breve
                </h3>
                {% else %}
                {% for episodio in object.episodios.all %}
                <h3 class="text-lg">
                    <a href="{{ episodio.video }}">
                        <p>{{ forloop.counter }} - {{ episodio.titulo }}</p>
                    </a>
                </h3>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>
    {% if filmes_relacionados %}
    <section class="flex justify-center py-10">
        <div class="p-8 w-10/12 relative">
            <h2 class="text-gray-200 text-2xl font-medium">
                Relacionados
            </h2>
            <div class="flex flex-wrap items-center justify-center min-w-full">
                {% for filme in filmes_relacionados %}
                <div class="filme m-4 overflow-hidden flex-shrink-0 rounded-md cursor-pointer h-64 w-96">
                    <a href="{% url 'filme:detalhesfilme' filme.pk %}">
                        <img src="{{ filme.thumb.url }}" class="object-cover w-full h-full" alt="">
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% endif %}
</main>
{% endblock %}