{% extends 'base.html' %}
{% load static %}

{% block titulo %}
Filmes - Hashflix
{% endblock %}

{% block head %}
<style>
    .wrapper {
        display: grid;
        grid-template-columns: repeat(3, 100%);
        overflow: hidden;
        scroll-behavior: smooth;
    }
</style>
{% endblock %}

{% block content %}
<main class='bg-primary_black min-h-screen w-full'>
    <section
        class="h-screen relative bg-no-repeat pb-8 pl-6 flex items-end bg-cover bg-fixed bg-center bg-black bg-opacity-50 bg-blend-overlay"
        style="background-image: url('{{ filme_destaque.thumb.url }}');">
        <div>
            <h2 class="text-4xl sm:text-6xl font-semibold text-white my-4">
                {{ filme_destaque.titulo }}
            </h2>
            <p class=" w-11/12 md:w-5/12 font-medium text-white my-4">
                {{ filme_destaque.descricao}}
            </p>
            <div class="flex my-4">
                <a href="{% url 'filme:detalhesfilme' filme_destaque.pk %}">
                    <button class="flex items-center bg-white py-2 px-5 rounded-md" style="color:black;">
                        <ion-icon name="play" class="text-2xl"></ion-icon>
                        <span class="ml-3 font-medium ">
                            Play
                        </span>
                    </button>
                </a>
            </div>
        </div>
    </section>
    <section class="flex justify-center py-10">
        <div class="p-8 w-12/12 relative">
            <h2 class="text-gray-200 text-2xl font-medium">
                Novo
            </h2>
            <div class="wrapper">
                <section id="section1" class="flex items-center justify-center">
                    {% if lista_filmes_recentes|length > 4 %}
                        <a href="#section2" class=" text-6xl">
                            ‹
                        </a>
                    {% endif %}
                    {% for filme in lista_filmes_recentes %}
                        {% if not forloop.counter > 4 %} 
                            <div class="h-64 w-1/4 m-4">
                                <a href="{% url 'filme:detalhesfilme' filme.pk %}">
                                    <img src="{{ filme.thumb.url }}" class="scale-90 hover:scale-100 transition ease-in-out rounded-md w-full h-full object-cover">
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% if lista_filmes_recentes|length > 4 %}
                        <a href="#section2" class=" text-6xl">
                            ›
                        </a>
                    {% endif %}
                </section>
                {% if lista_filmes_recentes|length > 4 %}
                    <section id="section2" class="flex flex-nowrap items-center justify-center">
                        <a href="#section1" class=" text-6xl">
                            ‹
                        </a>
                        {% for filme in lista_filmes_recentes %}
                            {% if forloop.counter > 4 %} 
                                <div class="h-64 w-1/4 m-4">
                                    <a href="{% url 'filme:detalhesfilme' filme.pk %}">
                                        <img src="{{ filme.thumb.url }}" class="scale-90 hover:scale-100 transition ease-in-out rounded-md w-full h-full object-cover">
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <a href="#section1" class=" text-6xl">
                            ›
                        </a>
                    </section>
                {% endif %}
            </div>
        </div>
    </section>
    <section class="flex justify-center py-10">
        <div class="p-8 w-12/12 relative">
            <h2 class="text-gray-200 text-2xl font-medium">
                Em alta
            </h2>
            <div class="wrapper">
                <section id="section3" class="flex flex-nowrap items-center justify-center">
                    {% if lista_filmes_alta|length > 4 %}
                        <a href="#section4" class=" text-6xl">
                            ‹
                        </a>
                    {% endif %}
                    {% for filme in lista_filmes_alta %}
                        {% if not forloop.counter > 4 %} 
                            <div class="h-64 w-1/4 m-4">
                                <a href="{% url 'filme:detalhesfilme' filme.pk %}">
                                    <img src="{{ filme.thumb.url }}" class="scale-90 hover:scale-100 transition ease-in-out rounded-md w-full h-full object-cover">
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% if lista_filmes_alta|length > 4 %}
                        <a href="#section4" class=" text-6xl">
                            ›
                        </a>
                    {% endif %}
                </section>
                {% if lista_filmes_alta|length > 4 %}
                    <section id="section4" class="flex flex-nowrap items-center justify-center">
                        <a href="#section3" class=" text-6xl">
                            ‹
                        </a>
                        {% for filme in lista_filmes_alta %}
                            {% if forloop.counter > 4 %} 
                                <div class="h-64 w-1/4 m-4">
                                    <a href="{% url 'filme:detalhesfilme' filme.pk %}">
                                        <img src="{{ filme.thumb.url }}" class="scale-90 hover:scale-100 transition ease-in-out rounded-md w-full h-full object-cover">
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <a href="#section3" class=" text-6xl">
                            ›
                        </a>
                    </section>
                {% endif %}
            </div>
        </div>
    </section>
    {% if request.user.filmes_vistos.all|length > 0 %}
        <section class="flex justify-center py-10">
            <div class="p-8 w-12/12 relative">
                <h2 class="text-gray-200 text-2xl font-medium">
                    Continuar assistindo
                </h2>
                <div class="wrapper">
                    <section id="section5" class="flex flex-nowrap items-center justify-center space-x-8">
                        {% if request.user.filmes_vistos.all|length > 4 %}
                            <a href="#section6" class=" text-6xl">
                                ‹
                            </a>
                        {% endif %}
                        {% for filme in request.user.filmes_vistos.all %}
                            {% if not forloop.counter > 4 %} 
                            <div class="h-64 w-1/4 m-4">
                                <a href="{% url 'filme:detalhesfilme' filme.pk %}">
                                    <img src="{{ filme.thumb.url }}" class="scale-90 hover:scale-100 transition ease-in-out rounded-md w-full h-full object-cover">
                                </a>
                            </div>
                            {% endif %}
                        {% endfor %}
                        {% if request.user.filmes_vistos.all|length > 4 %}
                            <a href="#section6" class=" text-6xl">
                                ›
                            </a>
                        {% endif %}
                    </section>
                    {% if request.user.filmes_vistos.all|length > 4 %}
                        <section id="section6" class="flex flex-nowrap items-center justify-center">
                            <a href="#section5" class=" text-6xl">
                                ‹
                            </a>
                            {% for filme in request.user.filmes_vistos.all %}
                                {% if forloop.counter > 4 %} 
                                <div class="h-64 w-1/4 m-4">
                                    <a href="{% url 'filme:detalhesfilme' filme.pk %}">
                                        <img src="{{ filme.thumb.url }}" class="scale-90 hover:scale-100 transition ease-in-out rounded-md w-full h-full object-cover">
                                    </a>
                                </div>
                                {% endif %}
                            {% endfor %}
                            <a href="#section5" class=" text-6xl">›</a>
                        </section>
                    {% endif %}
                </div>
            </div>
        </section>
    {% endif %}
    <section class="flex justify-center py-10">
        <div class="p-8 w-12/12">
            <h2 class="text-gray-200 text-2xl font-medium">
                Teste
            </h2>
            <div class="carousel">
                <div class="carousel-row">
                    {% for filme in request.user.filmes_vistos.all %}
                        <div class="carousel-tile">
                            <a href="{% url 'filme:detalhesfilme' filme.pk %}">
                                <img src="{{ filme.thumb.url }}" class="rounded-md w-full h-full object-cover">
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}