{% extends 'base.html' %}
{% load static %}

{% block titulo %}
Filmes - Hashflix
{% endblock %}

{% block head %}
<style>

    *,
    *::after,
    *::before {
        box-sizing: border-box;
    }

    :root {
        --handle-size: 3rem;
        --img-gap: .25rem;
    }

    .wrapper {
        display: flex;
        justify-content: center;
        overflow: hidden;
        margin: 0;
        min-width: 100%;
    }

    .linha {
        max-width: 100%;
        min-width: 100%;
        
    }

    .slider {
        --items-per-screen: 4;
        --slider-index: 0;
        display: flex;
        flex-grow: 1;
        margin: 0 var(--img-gap);
        transform: translateX(calc(var(--slider-index) * -100%));
        transition: transform 250ms ease-in-out;
    }

    .slider > a {
        flex: 0 0 calc(100% / var(--items-per-screen));
        max-width: calc(100% / var(--items-per-screen));
        aspect-ratio: 16 / 9;
        padding: var(--img-gap);
        border-radius: 1rem;
    }

    .handle {
        border: none;
        border-radius: 1rem;
        flex-grow: 0;
        flex-shrink: 0;
        background-color: rgba(255, 255, 255, .25);
        z-index: 10;
        margin: var(--img-gap) 0;
        width: var(--handle-size);
        cursor: pointer;
        font-size: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        line-height: 0;
        transition: background-color 150ms ease-in-out;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .left-handle {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .right-handle {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .handle:hover,
    .handle:focus {
        background-color: rgba(255, 255, 255, .5);
    }

    .text {
        transition: transform 150ms ease-in-out;
    }

    .handle:hover .text,
    .handle:focus .text {
        transform: scale(1.2);
    }

    .cabecalho {
        display: flex;
        justify-content: space-between;
        padding: .5rem calc(var(--img-gap) * 2 + var(--handle-size));
        align-items: center;
    }

    .title {
        font-size: 1.4rem;
        margin: 0;
    }

    .barra-progresso {
        display: flex;
        gap: .25rem;
    }

    .progress-item {
        flex: 0 0 1.5rem;
        min-width: 1.5rem;
        height: .5rem;
        background-color: rgba(255, 255, 255, .5);
    }

    .progress-item.active {
        background-color: rgba(255, 255, 255, .9);
    }

    @media (max-width: 1100px) {
        .slider {
            --items-per-screen: 3;
        }
    }

    @media (max-width: 800px) {
        .slider {
            --items-per-screen: 2;
        }
    }

    @media (max-width: 600px) {
        .slider {
            --items-per-screen: 1;
        }
    }

    @media (max-width: 480px){
        .title {
            font-size: 1rem;
        }
    }
</style>
{% endblock %}

{% block content %}
<main>
    <section
        class="h-screen pb-8 pl-6 flex items-end bg-fixed bg-center bg-cover bg-black bg-opacity-50 bg-blend-overlay"
        style="background-image: url('{{ filme_destaque.thumb.url }}');">
        <div>
            <h2 class="text-4xl sm:text-6xl font-semibold text-white my-4">
                {{ filme_destaque.titulo }}
            </h2>
            <p class="w-11/12 md:w-5/12 font-medium text-white my-4">
                {{ filme_destaque.descricao }}
            </p>
            <div class="flex my-4">
                <a href="{% url 'filme:detalhesfilme' filme_destaque.pk %}">
                    <button class="flex items-center bg-white py-2 px-5 rounded-md" style="color:black;">
                        <ion-icon name="play" class="text-2xl"></ion-icon>
                        <span class="ml-3 font-medium ">
                            Play
                        </span>
                    </button>
                </a>
            </div>
        </div>
    </section>
    <section class="py-10">
        <div class="linha">
            <div class="cabecalho">
                <h3 class="title">Novo</h3>
                <div class="barra-progresso"></div>
            </div>
            <div class="wrapper">
                <button class="handle left-handle">
                    <div class="text">&#8249;</div>
                </button>
                <div class="slider">
                    {% for filme in lista_filmes_recentes %}
                        <a href="{% url 'filme:detalhesfilme' filme.pk %}">
                            <img src="{{ filme.thumb.url }}" class="rounded-md scale-95 hover:scale-105 transition ease-in-out">
                        </a>  
                    {% endfor %}
                </div>
                <button class="handle right-handle">
                    <div class="text">&#8250;</div>
                </button>
            </div>
        </div>
    </section>
    <section class="py-10">
        <div class="linha">
            <div class="cabecalho">
                <h3 class="title">Em alta</h3>
                <div class="barra-progresso"></div>
            </div>
            <div class="wrapper">
                <button class="handle left-handle">
                    <div class="text">&#8249;</div>
                </button>
                <div class="slider">
                    {% for filme in lista_filmes_alta %}
                        <a href="{% url 'filme:detalhesfilme' filme.pk %}">
                            <img src="{{ filme.thumb.url }}" class="rounded-md scale-95 hover:scale-105 transition ease-in-out">
                        </a>  
                    {% endfor %}
                </div>
                <button class="handle right-handle">
                    <div class="text">&#8250;</div>
                </button>
            </div>
        </div>
    </section>
    {% if request.user.filmes_vistos.all %}
        <section class="py-10">
            <div class="linha">
                <div class="cabecalho">
                    <h3 class="title">Continuar assistindo</h3>
                    <div class="barra-progresso">
                    </div>
                </div>
                <div class="wrapper">
                    <button class="handle left-handle">
                        <div class="text">&#8249;</div>
                    </button>
                    <div class="slider">
                        {% for filme in request.user.filmes_vistos.all %}
                            <a href="{% url 'filme:detalhesfilme' filme.pk %}">
                                <img src="{{ filme.thumb.url }}" class="rounded-md scale-95 hover:scale-105 transition ease-in-out">
                            </a>  
                        {% endfor %}
                    </div>
                    <button class="handle right-handle">
                        <div class="text">&#8250;</div>
                    </button>
                </div>
            </div>
        </section>
    {% endif %}
</main>

<script>
    document.addEventListener("click", e => {
        let handle
        if (e.target.matches(".handle")) {
            handle = e.target
        } else {
            handle = e.target.closest(".handle")
        }
        if (handle != null) onHandleClick(handle)
    })

    const throttleProgressBar = throttle(() => {
        document.querySelectorAll(".barra-progresso").forEach(calculateProgressBar)
    }, 250)
    window.addEventListener("resize", throttleProgressBar)

    document.querySelectorAll(".barra-progresso").forEach(calculateProgressBar)

    function calculateProgressBar(progressBar) {
        progressBar.innerHTML = ""
        const slider = progressBar.closest(".linha").querySelector(".slider")
        const itemCount = slider.children.length
        const itemsPerScreen = parseInt(
            getComputedStyle(slider).getPropertyValue("--items-per-screen")
        )
        let sliderIndex = parseInt(
            getComputedStyle(slider).getPropertyValue("--slider-index")
        )
        const progressBarItemCount = Math.ceil(itemCount / itemsPerScreen)

        if (sliderIndex >= progressBarItemCount) {
            slider.style.setProperty("--slider-index", progressBarItemCount - 1)
            sliderIndex = progressBarItemCount - 1
        }

        for (let i = 0; i < progressBarItemCount; i++) {
            const barItem = document.createElement("div")
            barItem.classList.add("progress-item")
            if (i === sliderIndex) {
                barItem.classList.add("active")
            }
            progressBar.append(barItem)
        }
    }

    function onHandleClick(handle) {
        const progressBar = handle.closest(".linha").querySelector(".barra-progresso")
        const slider = handle.closest(".wrapper").querySelector(".slider")
        const sliderIndex = parseInt(
            getComputedStyle(slider).getPropertyValue("--slider-index")
        )
        const progressBarItemCount = progressBar.children.length
        if (handle.classList.contains("left-handle")) {
            if (sliderIndex - 1 < 0) {
                slider.style.setProperty("--slider-index", progressBarItemCount - 1)
                progressBar.children[sliderIndex].classList.remove("active")
                progressBar.children[progressBarItemCount - 1].classList.add("active")
            } else {
                slider.style.setProperty("--slider-index", sliderIndex - 1)
                progressBar.children[sliderIndex].classList.remove("active")
                progressBar.children[sliderIndex - 1].classList.add("active")
            }
        }

        if (handle.classList.contains("right-handle")) {
            if (sliderIndex + 1 >= progressBarItemCount) {
                slider.style.setProperty("--slider-index", 0)
                progressBar.children[sliderIndex].classList.remove("active")
                progressBar.children[0].classList.add("active")
            } else {
                slider.style.setProperty("--slider-index", sliderIndex + 1)
                progressBar.children[sliderIndex].classList.remove("active")
                progressBar.children[sliderIndex + 1].classList.add("active")
            }
        }
    }

    function throttle(cb, delay = 1000) {
        let shouldWait = false
        let waitingArgs
        const timeoutFunc = () => {
            if (waitingArgs == null) {
                shouldWait = false
            } else {
                cb(...waitingArgs)
                waitingArgs = null
                setTimeout(timeoutFunc, delay)
            }
        }
        return (...args) => {
            if (shouldWait) {
                waitingArgs = args
                return
            }
            cb(...args)
            shouldWait = true
            setTimeout(timeoutFunc, delay)
        }
    }
</script>

{% endblock %}