{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}
Login - Hashflix
{% endblock %}

{% block content %}
<header
    class="min-h-screen min-w-screen bg-black bg-opacity-75 bg-blend-overlay showcase border-gray-600 border-b-8 flex justify-center items-center bg-center bg-fixed bg-cover"
    style="background-image: url('{% static 'images/background_netflix.jpg' %}');">
    <div class="z-10 h-full py-32 md:py-0 text-gray-100 text-center flex items-center flex-col">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Faça login para continuar</legend>
                {{ form|crispy }}
            </fieldset>
            <button class="bg-red-600 py-1 my-2 px-3 w-full text-white md:text-lg rounded-md" type="submit">Fazer
                Login
            </button>
        </form>
        <small>
            Não tem uma conta ainda? 
            <p>
                <a href="{% url 'filme:criarconta' %}" class="text-yellow-300">
                    Clique aqui para criar uma conta
                </a>
            </p>
        </small>
    </div>
</header>

<footer class=" px-5 py-10 ">
    <ul class="flex justify-between items-center text-xs sm:text-sm">
        <li>&copy; 2022</li>
        <li> Feito com Python (Django)</li>
        <li>
            <a href="https://erick-pavani.github.io/">
                Erick
            </a>
        </li>
    </ul>
</footer>
{% endblock %}